<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CategoryPath" value="..\DataBase\Categories.bin" />
		<add key="CustomerCompanyPath" value="..\DataBase\CustomerCompanies.bin" />
		<add key="ResumePath" value="..\DataBase\Resumes.bin" />
		<add key="UnemployedPath" value="..\DataBase\Unemployeds.bin" />
		<add key="VacancyPath" value="..\DataBase\Vacancies.bin" />
	</appSettings>
</configuration>